.right-arrow-icon-container {
  width: 30px;
  height: 60px;
  position: relative;
  display: flex;
  align-items: center;
  margin-left: 10px;
  //justify-content: space-between;
  //gap: 3px;
  cursor: pointer;
  .right-arrow-icon {
    width: 15px;
    height: 15px;
  }
}
