.check-out-item-container {
  /*display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
*/
  display: grid;
  //grid-template-columns: auto auto auto auto auto;
  grid-template-columns: 1fr 2fr 0.5fr 1fr 1fr;
  grid-gap: 15px;
  .checkout-quantity {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    //margin-left: 20px;
  }
  .cart-image {
    width: 60px;
  }
  .item-price {
    display: flex;
    justify-content: flex-end;
  }
  .item-remove {
    display: flex;
    justify-content: flex-end;
  }
}
img {
  width: 100%;
  border-radius: 10px;
}
