.remove-icon-container {
  width: 40px;
  height: 60px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 30px;
  //gap: 3px;
  cursor: pointer;
  .remove-icon {
    width: 15px;
    height: 15px;
  }
}
